$checkbox-margin:							10px                               !default;
$checkbox-width:                            20px                               !default;
$checkbox-height:                           $checkbox-width                    !default;
$checkbox-border-radius:                    3px                                !default;
$checkbox-border-width:                     1px                                !default;
$checkbox-border-color:                     #666666                            !default;
$checkbox-background-color:                 #cccccc                            !default;
$checkbox-background-hover-color:           #dddddd                            !default;
$checkbox-boxshadow-color:                  $default-box-shadow-color          !default;
$checkbox-boxshadow-hoffset:                $default-box-shadow-h-offset       !default;
$checkbox-boxshadow-voffset:                $default-box-shadow-v-offset       !default;
$checkbox-boxshadow-blur:                   $default-box-shadow-blur           !default;
$checkbox-boxshadow-inset:                  inset                              !default;
$checkbox-focus-border-color:               #000000                            !default;

$radio-margin:                              $checkbox-margin                   !default;
$radio-width:                               $checkbox-width                    !default;
$radio-height:                              $radio-width                       !default;
$radio-border-color:                        $checkbox-border-color             !default;
$radio-border-width:                        $checkbox-border-width             !default;
$radio-background-color:                    $checkbox-background-color         !default;
$radio-background-hover-color:              $checkbox-background-hover-color   !default;
$radio-focus-border-color:                  $checkbox-focus-border-color       !default;

// Make sure you add the 'visuallyhidden' class to the input element!

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	position: relative;
}

@mixin fancy-checkboxes(){

	input[type="checkbox"] + label:before {
		width: $checkbox-width;
		height: $checkbox-height;
		border-radius: $checkbox-border-radius;
		border: $checkbox-border-width solid $checkbox-border-color;
		@include box-shadow($checkbox-boxshadow-color $checkbox-boxshadow-hoffset $checkbox-boxshadow-voffset $checkbox-boxshadow-blur $checkbox-boxshadow-inset);
		background: $checkbox-background-color url(#{$images}/form.png) no-repeat;
		top: $checkbox-height / 4;
		margin-right: $checkbox-margin;
	}

	input[type="checkbox"] + label:before {
		background-position: $checkbox-width center;
	}

	input[type="checkbox"]:checked + label:before {
		background-position: 0 center;
	}

	input[type="checkbox"] + label:hover:before {
		background-color: $checkbox-background-hover-color;
	}

	input[type="checkbox"]:focus + label:before {
		border-color: $checkbox-focus-border-color;
	}

}

@mixin fancy-radios(){

	$icon-adj: -1 * ((20 - $radio-width)/2 + 20);

	input[type="radio"] + label:before {
		width: $radio-width;
		height: $radio-height;
		border-radius: 50%;
		border: $radio-border-width solid $radio-border-color;
		background: $radio-background-color url(#{$images}/form.png) no-repeat;
		top: $radio-height / 4;
	}

	input[type="radio"] + label:before {
		background-position: 20px center;
	}

	input[type="radio"]:checked + label:before {
		background-position: $icon-adj center;
	}

	input[type="radio"] + label:hover:before {
		background-color: $radio-background-hover-color;
	}

	input[type="radio"]:focus + label:before {
		border-color: $radio-focus-border-color;
	}


}

@mixin fancy-forms(){
	@include fancy-checkboxes;
	@include fancy-radios;
}













































