

$link-color:                      #00e                                        !default;
$list-padding-left:               2.5 * $base-font-size                       !default;


$iconFontName:                    "DrakeCooper"                               !default;
$iconFontPath:                    "#{$FONTS_PATH}/drakecooper-icons"          !default;

$anchor-icon-color-default:       false                                       !default;
$anchor-icon-color-mailto:        $anchor-icon-color-default                  !default;
$anchor-icon-color-tel:           $anchor-icon-color-default                  !default;
$anchor-icon-color-pdf:           #eb2300                                     !default;
$anchor-icon-color-txt:           #252525                                     !default;
$anchor-icon-color-doc:           #009edc                                     !default;
$anchor-icon-color-xls:           #61c14f                                     !default;
$anchor-icon-color-ppt:           #ff6500                                     !default;
$anchor-icon-color-zip:           #252525                                     !default;
$anchor-icon-color-html:          #ec6431                                     !default;
$anchor-icon-color-css:           #0084c6                                     !default;


/**
 * icon-font-face mixin
 * Adds the @font-face CSS
 * CAUTION: This mixin will not work within a CSS selector
 *
 * @param $iconFontName The font name
 * @param $iconFontPath The font path including name, but not including the extension
 */

@mixin icon-font-face(
			$iconFontName: $iconFontName,
			$iconFontPath: $iconFontPath
	) {

	@include font-face(
			#{$iconFontName},
			font-files(
					"#{$iconFontPath}.woff", woff,
					"#{$iconFontPath}.ttf", truetype,
					"#{$iconFontPath}.svg##{$iconFontName}", svg),
			'#{$iconFontPath}.eot',
			normal,
			normal);
}



//------------------------------------------------------
//
//    Add pseudo-element to :before or :after
//
//------------------------------------------------------

@mixin icon-font-pseudo-element($iconFontName: $iconFontName) {
	font-family: "#{$iconFontName}";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	display: inline-block;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
//	vertical-align: middle;
}


//------------------------------------------------------
//
//    Adds icon font styles using data-icon attribute
//
//------------------------------------------------------

@mixin icon-font-data-icon($iconFontName: $iconFontName) {

	[data-icon^="icon-"].icon-before:before,
	[data-icon^="icon-"].icon-after:after {
		@include icon-font-pseudo-element($iconFontName);
	}
	[data-icon^="icon-"].icon-before.icon-block:before,
	[data-icon^="icon-"].icon-after.icon-block:after { width: 1.25em; }
}

// use this for each icon required
@mixin data-icon($name, $encoding) {
	[data-icon="icon-#{$name}"] {
		&.icon-before {
			&:before { content: "#{$encoding}"; }
			&.icon-space:before { content: "#{$encoding}\00A0"; }
		}
		&.icon-after {
			&:after { content: "#{$encoding}"; }
			&.icon-space:after { content: "\00A0#{$encoding}"; }
		}
	}
}


//------------------------------------------------------
//
//    Adds icon font styles with only the class
//
//------------------------------------------------------

@mixin icon-font-class-icon($iconFontName: $iconFontName) {

	[class^="icon-"]:before,
	[class*=" icon-"]:before,
	[class^="icon-"]:after,
	[class*=" icon-"]:after {
		@include icon-font-pseudo-element($iconFontName);
	}
}

// use this for each icon required before
@mixin icon-before($name, $encoding) {
	.icon-#{$name}:before { content: "#{$encoding}"; }
	.icon-#{$name} {
		&.icon-space:before { content: "#{$encoding}\00A0"; }
	}
}

// use this for each icon required after
@mixin icon-after($name, $encoding) {
	.icon-#{$name}:after { content: "#{$encoding}"; }
	.icon-#{$name} {
		&.icon-space:after { content: "\00A0#{$encoding}"; }
	}
}


//------------------------------------------------------
//
//    Anchor icons
//    Mailto, tel uses Fontawesome icons
//    Filetype uses Icomoon icons
//
//------------------------------------------------------

@mixin icon-anchors() {

	.anchor-icon p, // keep icons with the link
	p.anchor-icon {
		a[href] { white-space: nowrap; }
	}
	.anchor-icon {
		// DEFAULT LINK
		a[href]:before {
			@include icon-font-pseudo-element;
			@if $anchor-icon-color-default {
				color: $anchor-icon-color-default;
			}
			content: "\e000";
			margin-right: 0.2em;
		}

		// EMAIL, TEL
		a[href^="mailto:"]:before {
			@if $anchor-icon-color-mailto {
				color: $anchor-icon-color-mailto;
			}
			content: "\f003";
		}
		a[href^="tel:"]:before {
			@if $anchor-icon-color-tel {
				color: $anchor-icon-color-tel;
			}
			content: "\f095";
		}

		// FILETYPES
		a[href$=".pdf"]:before {
			color: $anchor-icon-color-pdf;
			content: "\e007";
		}
		/*
		a[href$=".txt"]:before,
		a[href$=".rtf"]:before {
			color: $anchor-icon-color-txt;
			content: "";
		}
		*/
		a[href$=".doc"]:before,
		a[href$=".docx"]:before {
			color: $anchor-icon-color-doc;
			content: "\e006";
		}
		a[href$=".xls"]:before,
		a[href$=".xlsx"]:before {
			color: $anchor-icon-color-xls;
			content: "\e001";
		}
		a[href$=".ppt"]:before,
		a[href$=".pptx"]:before {
			color: $anchor-icon-color-ppt;
			content: "\e002";
		}
		a[href$=".zip"]:before,
		a[href$=".gzip"]:before,
		a[href$=".tar"]:before {
			color: $anchor-icon-color-zip;
			content: "\e003";
		}
		a[href$=".htm"]:before,
		a[href$=".html"]:before,
		a[href$=".xml"]:before {
			color: $anchor-icon-color-html;
			content: "\e004";
		}
		a[href$=".css"]:before,
		a[href$=".scss"]:before,
		a[href$=".sass"]:before {
			color: $anchor-icon-color-css;
			content: "\e005";
		}
	}
	ul.anchor-icon {
		padding-left: $list-padding-left;
		li {
			list-style: none;
			a[href]:before {
				left: -$list-padding-left;
				margin-right: -2em;
				position: relative;
				text-align: right;
				width: 2em;
			}
		}
	}
}

//------------------------------------------------------
//
//    Quick Includes
//
//------------------------------------------------------

@mixin icon-font() {
	@include icon-font-face;
	@include icon-font-data-icon;
	@include icon-anchors;
}

@mixin icon-font-kitchen-sink() {
	@include icon-font;
	@include icon-font-class-icon;
}

@mixin icon-font-helpers() {
	.icon-font-pseudo-element {
		@include icon-font-pseudo-element;
	}
}

@mixin icon-font-default(
											$application        : true,
											$arrows             : true,
											$notifications      : true,
											$filetypes          : true,
											$social-interaction : true,
											$social-networking  : true
										) {
	// basics
	@include data-icon('home','\f015');
	@include data-icon('search','\f002');
	@include data-icon('zoom-in','\f00e');
	@include data-icon('zoom-out','\f010');
	@include data-icon('calendar','\f073');
	@include data-icon('edit','\f044');
	@include data-icon('print','\f02f');
	@include data-icon('spinner','\f110');
	@include data-icon('signin','\f090');
	@include data-icon('signout','\f08b');
	@include data-icon('fullscreen','\f0b2');
	@include data-icon('external-link','\f08e');
	@include data-icon('refresh','\f021');

	@include data-icon('link-alt','\e000');
	@include data-icon('phone','\f095');
	@include data-icon('envelope','\f003');
	@include data-icon('envelope-alt','\f0e0');

	@include data-icon('reorder','\f0c9'); // use for mobile menus
	@include data-icon('desktop','\f108');
	@include data-icon('laptop','\f109');
	@include data-icon('tablet','\f10a');
	@include data-icon('mobile-phone','\f10b');

	// application icons
	@if $application {
		@include data-icon('user','\f007');
		@include data-icon('time','\f017');
		@include data-icon('save','\f0c7');
		@include data-icon('shopping-cart','\f07a');
		@include data-icon('lock','\f023');
		@include data-icon('unlock','\f09c');
		@include data-icon('cog','\f013');
		@include data-icon('cogs','\f085');
		@include data-icon('trash','\f014');
		@include data-icon('volume-off','\f026');
		@include data-icon('volume-down','\f027');
		@include data-icon('volume-up','\f028');
		@include data-icon('undo','\f0e2');
		@include data-icon('repeat','\f01e');
		@include data-icon('random','\f074');
		@include data-icon('sort','\f0dc');
		@include data-icon('sort-down','\f0dd');
		@include data-icon('sort-up','\f0de');
		@include data-icon('upload','\f01b');
		@include data-icon('upload-alt','\f093');
		@include data-icon('download','\f01a');
		@include data-icon('download-alt','\f019');
		@include data-icon('eye-open','\f06e');
		@include data-icon('eye-close','\f070');
	}

	// arrows
	@if $arrows {
		@include data-icon('arrow-left','\f060');
		@include data-icon('arrow-right','\f061');
		@include data-icon('arrow-up','\f062');
		@include data-icon('arrow-down','\f063');
		@include data-icon('circle-arrow-left','\f0a8');
		@include data-icon('circle-arrow-right','\f0a9');
		@include data-icon('circle-arrow-up','\f0aa');
		@include data-icon('circle-arrow-down','\f0ab');
		@include data-icon('hand-right','\f0a4');
		@include data-icon('hand-left','\f0a5');
		@include data-icon('hand-up','\f0a6');
		@include data-icon('hand-down','\f0a7');
		@include data-icon('caret-down','\f0d7');
		@include data-icon('caret-up','\f0d8');
		@include data-icon('caret-left','\f0d9');
		@include data-icon('caret-right','\f0da');
		@include data-icon('chevron-left','\f053');
		@include data-icon('chevron-right','\f054');
		@include data-icon('chevron-up','\f077');
		@include data-icon('chevron-down','\f078');
		@include data-icon('double-angle-left','\f100');
		@include data-icon('double-angle-right','\f101');
		@include data-icon('double-angle-up','\f102');
		@include data-icon('double-angle-down','\f103');
		@include data-icon('angle-left','\f104');
		@include data-icon('angle-right','\f105');
		@include data-icon('angle-up','\f106');
		@include data-icon('angle-down','\f107');
	}

	// notifications
	@if $notifications {
		@include data-icon('info-sign','\f05a');    // info
		@include data-icon('ok-sign','\f058');      // success
		@include data-icon('warning-sign','\f071'); // warning
		@include data-icon('remove-sign','\f057');  // error
		@include data-icon('question-sign','\f059');
		@include data-icon('plus','\f067');
		@include data-icon('plus-sign','\f055');
		@include data-icon('plus-sign-alt','\f0fe');
		@include data-icon('minus','\f068');
		@include data-icon('minus-sign','\f056');
		@include data-icon('remove','\f00d');
		@include data-icon('remove-circle','\f05c');
		@include data-icon('check','\f046');
		@include data-icon('check-empty','\f096');
		@include data-icon('ok','\f00c');
		@include data-icon('ok-circle','\f05d');
		@include data-icon('ban-circle','\f05e');
	}

	// filetypes
	@if $filetypes {
		@include data-icon('picture','\f03e');
		@include data-icon('film','\f008');
		@include data-icon('headphones','\f025');
		@include data-icon('file-pdf','\e007');
		@include data-icon('file-word','\e006');
		@include data-icon('file-excel','\e001');
		@include data-icon('file-powerpoint','\e002');
		@include data-icon('file-zip','\e003');
		@include data-icon('file-xml','\e004');
		@include data-icon('file-css','\e005');
	}

	// social interaction
	@if $social-interaction {
		@include data-icon('map','\f20e');
		@include data-icon('map-marker','\f041');
		@include data-icon('tag','\f02b');
		@include data-icon('tags','\f02c');
		@include data-icon('bookmark','\f02e');
		@include data-icon('bookmark-empty','\f097');
		@include data-icon('star','\f005');
		@include data-icon('star-empty','\f006');
		@include data-icon('star-half','\f089');
		@include data-icon('heart','\f004');
		@include data-icon('heart-empty','\f08a');
		@include data-icon('comment','\f075');
		@include data-icon('comments','\f086');
		@include data-icon('comment-alt','\f0e5');
		@include data-icon('comments-alt','\f0e6');
		@include data-icon('thumbs-up','\f087');
		@include data-icon('thumbs-down','\f088');
		@include data-icon('share','\f045');
		@include data-icon('share-alt','\f064');
	}

	// social networking
	@if $social-networking {
		@include data-icon('rss','\f09e');
		@include data-icon('rss-sign','\f215');
		@include data-icon('facebook','\f09a');
		@include data-icon('facebook-sign','\f082');
		@include data-icon('twitter','\f099');
		@include data-icon('twitter-sign','\f081');
		@include data-icon('google-plus','\f0d5');
		@include data-icon('google-plus-sign','\f0d4');
		@include data-icon('linkedin','\f0e1');
		@include data-icon('linkedin-sign','\f08c');
		@include data-icon('youtube','\f30e');
		@include data-icon('youtube-sign','\f30d');
		@include data-icon('vimeo','\f324');
		@include data-icon('vimeo-sign','\f323');
		@include data-icon('flickr','\f317');
		@include data-icon('flickr-sign','\f316');
		@include data-icon('wordpress','\f326');
		@include data-icon('wordpress-sign','\f325');
		@include data-icon('blogger','\f311');
		@include data-icon('blogger-sign','\f310');
		@include data-icon('amazon','\f341');
		@include data-icon('amazon-sign','\f340');
		@include data-icon('pinterest','\f0d2');
		@include data-icon('pinterest-sign','\f0d3');
		@include data-icon('instagram','\f303');
	}
}


//------------------------------------------------------
//
//    Font Awesome uses the Unicode Private Use Area
//    (PUA) to ensure screen readers do not read off
//    random characters that represent icons
//
//------------------------------------------------------

@mixin icon-font-awesome() {

	@include data-icon('glass','\f000');
	@include data-icon('music','\f001');
	@include data-icon('search','\f002');
	@include data-icon('envelope','\f003');
	@include data-icon('heart','\f004');
	@include data-icon('star','\f005');
	@include data-icon('star-empty','\f006');
	@include data-icon('user','\f007');
	@include data-icon('film','\f008');
	@include data-icon('th-large','\f009');
	@include data-icon('th','\f00a');
	@include data-icon('th-list','\f00b');
	@include data-icon('ok','\f00c');
	@include data-icon('remove','\f00d');
	@include data-icon('zoom-in','\f00e');

	@include data-icon('zoom-out','\f010');
	@include data-icon('off','\f011');
	@include data-icon('signal','\f012');
	@include data-icon('cog','\f013');
	@include data-icon('trash','\f014');
	@include data-icon('home','\f015');
	@include data-icon('file','\f016');
	@include data-icon('time','\f017');
	@include data-icon('road','\f018');
	@include data-icon('download-alt','\f019');
	@include data-icon('download','\f01a');
	@include data-icon('upload','\f01b');
	@include data-icon('inbox','\f01c');
	@include data-icon('play-circle','\f01d');
	@include data-icon('repeat','\f01e');

	/* \f020 doesn't work in Safari. all shifted one down */
	@include data-icon('refresh','\f021');
	@include data-icon('list-alt','\f022');
	@include data-icon('lock','\f023');
	@include data-icon('flag','\f024');
	@include data-icon('headphones','\f025');
	@include data-icon('volume-off','\f026');
	@include data-icon('volume-down','\f027');
	@include data-icon('volume-up','\f028');
	@include data-icon('qrcode','\f029');
	@include data-icon('barcode','\f02a');
	@include data-icon('tag','\f02b');
	@include data-icon('tags','\f02c');
	@include data-icon('book','\f02d');
	@include data-icon('bookmark','\f02e');
	@include data-icon('print','\f02f');

	@include data-icon('camera','\f030');
	@include data-icon('font','\f031');
	@include data-icon('bold','\f032');
	@include data-icon('italic','\f033');
	@include data-icon('text-height','\f034');
	@include data-icon('text-width','\f035');
	@include data-icon('align-left','\f036');
	@include data-icon('align-center','\f037');
	@include data-icon('align-right','\f038');
	@include data-icon('align-justify','\f039');
	@include data-icon('list','\f03a');
	@include data-icon('indent-left','\f03b');
	@include data-icon('indent-right','\f03c');
	@include data-icon('facetime-video','\f03d');
	@include data-icon('picture','\f03e');

	@include data-icon('pencil','\f040');
	@include data-icon('map-marker','\f041');
	@include data-icon('adjust','\f042');
	@include data-icon('tint','\f043');
	@include data-icon('edit','\f044');
	@include data-icon('share','\f045');
	@include data-icon('check','\f046');
	@include data-icon('move','\f047');
	@include data-icon('step-backward','\f048');
	@include data-icon('fast-backward','\f049');
	@include data-icon('backward','\f04a');
	@include data-icon('play','\f04b');
	@include data-icon('pause','\f04c');
	@include data-icon('stop','\f04d');
	@include data-icon('forward','\f04e');

	@include data-icon('fast-forward','\f050');
	@include data-icon('step-forward','\f051');
	@include data-icon('eject','\f052');
	@include data-icon('chevron-left','\f053');
	@include data-icon('chevron-right','\f054');
	@include data-icon('plus-sign','\f055');
	@include data-icon('minus-sign','\f056');
	@include data-icon('remove-sign','\f057');
	@include data-icon('ok-sign','\f058');
	@include data-icon('question-sign','\f059');
	@include data-icon('info-sign','\f05a');
	@include data-icon('screenshot','\f05b');
	@include data-icon('remove-circle','\f05c');
	@include data-icon('ok-circle','\f05d');
	@include data-icon('ban-circle','\f05e');

	@include data-icon('arrow-left','\f060');
	@include data-icon('arrow-right','\f061');
	@include data-icon('arrow-up','\f062');
	@include data-icon('arrow-down','\f063');
	@include data-icon('share-alt','\f064');
	@include data-icon('resize-full','\f065');
	@include data-icon('resize-small','\f066');
	@include data-icon('plus','\f067');
	@include data-icon('minus','\f068');
	@include data-icon('asterisk','\f069');
	@include data-icon('exclamation-sign','\f06a');
	@include data-icon('gift','\f06b');
	@include data-icon('leaf','\f06c');
	@include data-icon('fire','\f06d');
	@include data-icon('eye-open','\f06e');

	@include data-icon('eye-close','\f070');
	@include data-icon('warning-sign','\f071');
	@include data-icon('plane','\f072');
	@include data-icon('calendar','\f073');
	@include data-icon('random','\f074');
	@include data-icon('comment','\f075');
	@include data-icon('magnet','\f076');
	@include data-icon('chevron-up','\f077');
	@include data-icon('chevron-down','\f078');
	@include data-icon('retweet','\f079');
	@include data-icon('shopping-cart','\f07a');
	@include data-icon('folder-close','\f07b');
	@include data-icon('folder-open','\f07c');
	@include data-icon('resize-vertical','\f07d');
	@include data-icon('resize-horizontal','\f07e');

	@include data-icon('bar-chart','\f080');
	@include data-icon('twitter-sign','\f081');
	@include data-icon('facebook-sign','\f082');
	@include data-icon('camera-retro','\f083');
	@include data-icon('key','\f084');
	@include data-icon('cogs','\f085');
	@include data-icon('comments','\f086');
	@include data-icon('thumbs-up','\f087');
	@include data-icon('thumbs-down','\f088');
	@include data-icon('star-half','\f089');
	@include data-icon('heart-empty','\f08a');
	@include data-icon('signout','\f08b');
	@include data-icon('linkedin-sign','\f08c');
	@include data-icon('pushpin','\f08d');
	@include data-icon('external-link','\f08e');

	@include data-icon('signin','\f090');
	@include data-icon('trophy','\f091');
	@include data-icon('github-sign','\f092');
	@include data-icon('upload-alt','\f093');
	@include data-icon('lemon','\f094');
	@include data-icon('phone','\f095');
	@include data-icon('check-empty','\f096');
	@include data-icon('bookmark-empty','\f097');
	@include data-icon('phone-sign','\f098');
	@include data-icon('twitter','\f099');
	@include data-icon('facebook','\f09a');
	@include data-icon('github','\f09b');
	@include data-icon('unlock','\f09c');
	@include data-icon('credit-card','\f09d');
	@include data-icon('rss','\f09e');

	@include data-icon('hdd','\f0a0');
	@include data-icon('bullhorn','\f0a1');
	@include data-icon('bell','\f0a2');
	@include data-icon('certificate','\f0a3');
	@include data-icon('hand-right','\f0a4');
	@include data-icon('hand-left','\f0a5');
	@include data-icon('hand-up','\f0a6');
	@include data-icon('hand-down','\f0a7');
	@include data-icon('circle-arrow-left','\f0a8');
	@include data-icon('circle-arrow-right','\f0a9');
	@include data-icon('circle-arrow-up','\f0aa');
	@include data-icon('circle-arrow-down','\f0ab');
	@include data-icon('globe','\f0ac');
	@include data-icon('wrench','\f0ad');
	@include data-icon('tasks','\f0ae');

	@include data-icon('filter','\f0b0');
	@include data-icon('briefcase','\f0b1');
	@include data-icon('fullscreen','\f0b2');

	@include data-icon('group','\f0c0');
	@include data-icon('link','\f0c1');
	@include data-icon('cloud','\f0c2');
	@include data-icon('beaker','\f0c3');
	@include data-icon('cut','\f0c4');
	@include data-icon('copy','\f0c5');
	@include data-icon('paper-clip','\f0c6');
	@include data-icon('save','\f0c7');
	@include data-icon('sign-blank','\f0c8');
	@include data-icon('reorder','\f0c9');
	@include data-icon('list-ul','\f0ca');
	@include data-icon('list-ol','\f0cb');
	@include data-icon('strikethrough','\f0cc');
	@include data-icon('underline','\f0cd');
	@include data-icon('table','\f0ce');

	@include data-icon('magic','\f0d0');
	@include data-icon('truck','\f0d1');
	@include data-icon('pinterest','\f0d2');
	@include data-icon('pinterest-sign','\f0d3');
	@include data-icon('google-plus-sign','\f0d4');
	@include data-icon('google-plus','\f0d5');
	@include data-icon('money','\f0d6');
	@include data-icon('caret-down','\f0d7');
	@include data-icon('caret-up','\f0d8');
	@include data-icon('caret-left','\f0d9');
	@include data-icon('caret-right','\f0da');
	@include data-icon('columns','\f0db');
	@include data-icon('sort','\f0dc');
	@include data-icon('sort-down','\f0dd');
	@include data-icon('sort-up','\f0de');

	@include data-icon('envelope-alt','\f0e0');
	@include data-icon('linkedin','\f0e1');
	@include data-icon('undo','\f0e2');
	@include data-icon('legal','\f0e3');
	@include data-icon('dashboard','\f0e4');
	@include data-icon('comment-alt','\f0e5');
	@include data-icon('comments-alt','\f0e6');
	@include data-icon('bolt','\f0e7');
	@include data-icon('sitemap','\f0e8');
	@include data-icon('umbrella','\f0e9');
	@include data-icon('paste','\f0ea');

	@include data-icon('user-md','\f200');

	// font-awesome v3.0
	@include data-icon('cloud-download','\f0ed');
	@include data-icon('cloud-upload','\f0ee');
	@include data-icon('exchange','\f0ec');
	@include data-icon('bell-alt','\f0f3');
	@include data-icon('file-alt','\f0f6');
	@include data-icon('coffee','\f0f4');
	@include data-icon('beer','\f0fc');
	@include data-icon('food','\f0f5');
	@include data-icon('fighter-jet','\f0fb');
//	@include data-icon('user-md-2','\f0f0');
	@include data-icon('stethoscope','\f0f1');
	@include data-icon('building','\f0f7');
	@include data-icon('hospital','\f0f8');
	@include data-icon('suitcase','\f0f2');
	@include data-icon('ambulance','\f0f9');
	@include data-icon('medkit','\f0fa');
	@include data-icon('h-sign','\f0fd');
	@include data-icon('plus-sign-alt','\f0fe');
	@include data-icon('spinner','\f110');
	@include data-icon('double-angle-left','\f100');
	@include data-icon('double-angle-right','\f101');
	@include data-icon('double-angle-up','\f102');
	@include data-icon('double-angle-down','\f103');
	@include data-icon('angle-left','\f104');
	@include data-icon('angle-right','\f105');
	@include data-icon('angle-up','\f106');
	@include data-icon('angle-down','\f107');
	@include data-icon('circle-blank','\f10c');
	@include data-icon('circle','\f111');
	@include data-icon('desktop','\f108');
	@include data-icon('laptop','\f109');
	@include data-icon('tablet','\f10a');
	@include data-icon('mobile-phone','\f10b');
	@include data-icon('quote-left','\f10d');
	@include data-icon('quote-right','\f10e');
	@include data-icon('reply','\f112');
	@include data-icon('github-alt','\f113');
	@include data-icon('folder-close-alt','\f114');
	@include data-icon('folder-open-alt','\f115');
	@include data-icon('lightbulb','\f0eb');


// icon-before

	@include icon-before('glass','\f000');
	@include icon-before('music','\f001');
	@include icon-before('search','\f002');
	@include icon-before('envelope','\f003');
	@include icon-before('heart','\f004');
	@include icon-before('star','\f005');
	@include icon-before('star-empty','\f006');
	@include icon-before('user','\f007');
	@include icon-before('film','\f008');
	@include icon-before('th-large','\f009');
	@include icon-before('th','\f00a');
	@include icon-before('th-list','\f00b');
	@include icon-before('ok','\f00c');
	@include icon-before('remove','\f00d');
	@include icon-before('zoom-in','\f00e');

	@include icon-before('zoom-out','\f010');
	@include icon-before('off','\f011');
	@include icon-before('signal','\f012');
	@include icon-before('cog','\f013');
	@include icon-before('trash','\f014');
	@include icon-before('home','\f015');
	@include icon-before('file','\f016');
	@include icon-before('time','\f017');
	@include icon-before('road','\f018');
	@include icon-before('download-alt','\f019');
	@include icon-before('download','\f01a');
	@include icon-before('upload','\f01b');
	@include icon-before('inbox','\f01c');
	@include icon-before('play-circle','\f01d');
	@include icon-before('repeat','\f01e');

	/* \f020 doesn't work in Safari. all shifted one down */
	@include icon-before('refresh','\f021');
	@include icon-before('list-alt','\f022');
	@include icon-before('lock','\f023');
	@include icon-before('flag','\f024');
	@include icon-before('headphones','\f025');
	@include icon-before('volume-off','\f026');
	@include icon-before('volume-down','\f027');
	@include icon-before('volume-up','\f028');
	@include icon-before('qrcode','\f029');
	@include icon-before('barcode','\f02a');
	@include icon-before('tag','\f02b');
	@include icon-before('tags','\f02c');
	@include icon-before('book','\f02d');
	@include icon-before('bookmark','\f02e');
	@include icon-before('print','\f02f');

	@include icon-before('camera','\f030');
	@include icon-before('font','\f031');
	@include icon-before('bold','\f032');
	@include icon-before('italic','\f033');
	@include icon-before('text-height','\f034');
	@include icon-before('text-width','\f035');
	@include icon-before('align-left','\f036');
	@include icon-before('align-center','\f037');
	@include icon-before('align-right','\f038');
	@include icon-before('align-justify','\f039');
	@include icon-before('list','\f03a');
	@include icon-before('indent-left','\f03b');
	@include icon-before('indent-right','\f03c');
	@include icon-before('facetime-video','\f03d');
	@include icon-before('picture','\f03e');

	@include icon-before('pencil','\f040');
	@include icon-before('map-marker','\f041');
	@include icon-before('adjust','\f042');
	@include icon-before('tint','\f043');
	@include icon-before('edit','\f044');
	@include icon-before('share','\f045');
	@include icon-before('check','\f046');
	@include icon-before('move','\f047');
	@include icon-before('step-backward','\f048');
	@include icon-before('fast-backward','\f049');
	@include icon-before('backward','\f04a');
	@include icon-before('play','\f04b');
	@include icon-before('pause','\f04c');
	@include icon-before('stop','\f04d');
	@include icon-before('forward','\f04e');

	@include icon-before('fast-forward','\f050');
	@include icon-before('step-forward','\f051');
	@include icon-before('eject','\f052');
	@include icon-before('chevron-left','\f053');
	@include icon-before('chevron-right','\f054');
	@include icon-before('plus-sign','\f055');
	@include icon-before('minus-sign','\f056');
	@include icon-before('remove-sign','\f057');
	@include icon-before('ok-sign','\f058');
	@include icon-before('question-sign','\f059');
	@include icon-before('info-sign','\f05a');
	@include icon-before('screenshot','\f05b');
	@include icon-before('remove-circle','\f05c');
	@include icon-before('ok-circle','\f05d');
	@include icon-before('ban-circle','\f05e');

	@include icon-before('arrow-left','\f060');
	@include icon-before('arrow-right','\f061');
	@include icon-before('arrow-up','\f062');
	@include icon-before('arrow-down','\f063');
	@include icon-before('share-alt','\f064');
	@include icon-before('resize-full','\f065');
	@include icon-before('resize-small','\f066');
	@include icon-before('plus','\f067');
	@include icon-before('minus','\f068');
	@include icon-before('asterisk','\f069');
	@include icon-before('exclamation-sign','\f06a');
	@include icon-before('gift','\f06b');
	@include icon-before('leaf','\f06c');
	@include icon-before('fire','\f06d');
	@include icon-before('eye-open','\f06e');

	@include icon-before('eye-close','\f070');
	@include icon-before('warning-sign','\f071');
	@include icon-before('plane','\f072');
	@include icon-before('calendar','\f073');
	@include icon-before('random','\f074');
	@include icon-before('comment','\f075');
	@include icon-before('magnet','\f076');
	@include icon-before('chevron-up','\f077');
	@include icon-before('chevron-down','\f078');
	@include icon-before('retweet','\f079');
	@include icon-before('shopping-cart','\f07a');
	@include icon-before('folder-close','\f07b');
	@include icon-before('folder-open','\f07c');
	@include icon-before('resize-vertical','\f07d');
	@include icon-before('resize-horizontal','\f07e');

	@include icon-before('bar-chart','\f080');
	@include icon-before('twitter-sign','\f081');
	@include icon-before('facebook-sign','\f082');
	@include icon-before('camera-retro','\f083');
	@include icon-before('key','\f084');
	@include icon-before('cogs','\f085');
	@include icon-before('comments','\f086');
	@include icon-before('thumbs-up','\f087');
	@include icon-before('thumbs-down','\f088');
	@include icon-before('star-half','\f089');
	@include icon-before('heart-empty','\f08a');
	@include icon-before('signout','\f08b');
	@include icon-before('linkedin-sign','\f08c');
	@include icon-before('pushpin','\f08d');
	@include icon-before('external-link','\f08e');

	@include icon-before('signin','\f090');
	@include icon-before('trophy','\f091');
	@include icon-before('github-sign','\f092');
	@include icon-before('upload-alt','\f093');
	@include icon-before('lemon','\f094');
	@include icon-before('phone','\f095');
	@include icon-before('check-empty','\f096');
	@include icon-before('bookmark-empty','\f097');
	@include icon-before('phone-sign','\f098');
	@include icon-before('twitter','\f099');
	@include icon-before('facebook','\f09a');
	@include icon-before('github','\f09b');
	@include icon-before('unlock','\f09c');
	@include icon-before('credit-card','\f09d');
	@include icon-before('rss','\f09e');

	@include icon-before('hdd','\f0a0');
	@include icon-before('bullhorn','\f0a1');
	@include icon-before('bell','\f0a2');
	@include icon-before('certificate','\f0a3');
	@include icon-before('hand-right','\f0a4');
	@include icon-before('hand-left','\f0a5');
	@include icon-before('hand-up','\f0a6');
	@include icon-before('hand-down','\f0a7');
	@include icon-before('circle-arrow-left','\f0a8');
	@include icon-before('circle-arrow-right','\f0a9');
	@include icon-before('circle-arrow-up','\f0aa');
	@include icon-before('circle-arrow-down','\f0ab');
	@include icon-before('globe','\f0ac');
	@include icon-before('wrench','\f0ad');
	@include icon-before('tasks','\f0ae');

	@include icon-before('filter','\f0b0');
	@include icon-before('briefcase','\f0b1');
	@include icon-before('fullscreen','\f0b2');

	@include icon-before('group','\f0c0');
	@include icon-before('link','\f0c1');
	@include icon-before('cloud','\f0c2');
	@include icon-before('beaker','\f0c3');
	@include icon-before('cut','\f0c4');
	@include icon-before('copy','\f0c5');
	@include icon-before('paper-clip','\f0c6');
	@include icon-before('save','\f0c7');
	@include icon-before('sign-blank','\f0c8');
	@include icon-before('reorder','\f0c9');
	@include icon-before('list-ul','\f0ca');
	@include icon-before('list-ol','\f0cb');
	@include icon-before('strikethrough','\f0cc');
	@include icon-before('underline','\f0cd');
	@include icon-before('table','\f0ce');

	@include icon-before('magic','\f0d0');
	@include icon-before('truck','\f0d1');
	@include icon-before('pinterest','\f0d2');
	@include icon-before('pinterest-sign','\f0d3');
	@include icon-before('google-plus-sign','\f0d4');
	@include icon-before('google-plus','\f0d5');
	@include icon-before('money','\f0d6');
	@include icon-before('caret-down','\f0d7');
	@include icon-before('caret-up','\f0d8');
	@include icon-before('caret-left','\f0d9');
	@include icon-before('caret-right','\f0da');
	@include icon-before('columns','\f0db');
	@include icon-before('sort','\f0dc');
	@include icon-before('sort-down','\f0dd');
	@include icon-before('sort-up','\f0de');

	@include icon-before('envelope-alt','\f0e0');
	@include icon-before('linkedin','\f0e1');
	@include icon-before('undo','\f0e2');
	@include icon-before('legal','\f0e3');
	@include icon-before('dashboard','\f0e4');
	@include icon-before('comment-alt','\f0e5');
	@include icon-before('comments-alt','\f0e6');
	@include icon-before('bolt','\f0e7');
	@include icon-before('sitemap','\f0e8');
	@include icon-before('umbrella','\f0e9');
	@include icon-before('paste','\f0ea');

	@include icon-before('user-md','\f200');

	// font-awesome v3.0
	@include icon-before('cloud-download','\f0ed');
	@include icon-before('cloud-upload','\f0ee');
	@include icon-before('exchange','\f0ec');
	@include icon-before('bell-alt','\f0f3');
	@include icon-before('file-alt','\f0f6');
	@include icon-before('coffee','\f0f4');
	@include icon-before('beer','\f0fc');
	@include icon-before('food','\f0f5');
	@include icon-before('fighter-jet','\f0fb');
//	@include icon-before('user-md-2','\f0f0');
	@include icon-before('stethoscope','\f0f1');
	@include icon-before('building','\f0f7');
	@include icon-before('hospital','\f0f8');
	@include icon-before('suitcase','\f0f2');
	@include icon-before('ambulance','\f0f9');
	@include icon-before('medkit','\f0fa');
	@include icon-before('h-sign','\f0fd');
	@include icon-before('plus-sign-alt','\f0fe');
	@include icon-before('spinner','\f110');
	@include icon-before('double-angle-left','\f100');
	@include icon-before('double-angle-right','\f101');
	@include icon-before('double-angle-up','\f102');
	@include icon-before('double-angle-down','\f103');
	@include icon-before('angle-left','\f104');
	@include icon-before('angle-right','\f105');
	@include icon-before('angle-up','\f106');
	@include icon-before('angle-down','\f107');
	@include icon-before('circle-blank','\f10c');
	@include icon-before('circle','\f111');
	@include icon-before('desktop','\f108');
	@include icon-before('laptop','\f109');
	@include icon-before('tablet','\f10a');
	@include icon-before('mobile-phone','\f10b');
	@include icon-before('quote-left','\f10d');
	@include icon-before('quote-right','\f10e');
	@include icon-before('reply','\f112');
	@include icon-before('github-alt','\f113');
	@include icon-before('folder-close-alt','\f114');
	@include icon-before('folder-open-alt','\f115');
	@include icon-before('lightbulb','\f0eb');
}



//------------------------------------------------------
//
//    Font Awesome More
//
//------------------------------------------------------

@mixin icon-font-awesome-more() {

	// social
	@include data-icon('dropbox','\f300');
	@include data-icon('drupal','\f301');
	@include data-icon('git-fork','\f302');
	@include data-icon('instagram','\f303');
	@include data-icon('share-this-sign','\f304');
	@include data-icon('share-this','\f305');
	@include data-icon('foursquare-sign','\f306');
	@include data-icon('foursquare','\f307');
	@include data-icon('hacker-news','\f308');
	@include data-icon('skype','\f309');
	@include data-icon('spotify','\f30a');
	@include data-icon('soundcloud','\f30b');
	@include data-icon('paypal','\f30c');
	@include data-icon('youtube-sign','\f30d');
	@include data-icon('youtube','\f30e');
	@include data-icon('reddit','\f30f');
	@include data-icon('blogger-sign','\f310');
	@include data-icon('blogger','\f311');
	@include data-icon('dribbble-sign','\f312');
	@include data-icon('dribbble','\f313');
	@include data-icon('evernote-sign','\f314');
	@include data-icon('evernote','\f315');
	@include data-icon('flickr-sign','\f316');
	@include data-icon('flickr','\f317');
	@include data-icon('forrst-sign','\f318');
	@include data-icon('forrst','\f319');
	@include data-icon('delicious','\f31a');
	@include data-icon('lastfm-sign','\f31b');
	@include data-icon('lastfm','\f31c');
	@include data-icon('picasa-sign','\f31d');
	@include data-icon('picasa','\f31e');
	@include data-icon('stack-overflow','\f320');
	@include data-icon('tumblr-sign','\f321');
	@include data-icon('tumblr','\f322');
	@include data-icon('vimeo-sign','\f323');
	@include data-icon('vimeo','\f324');
	@include data-icon('wordpress-sign','\f325');
	@include data-icon('wordpress','\f326');
	@include data-icon('yelp-sign','\f327');
	@include data-icon('yelp','\f328');
	// corp.
	@include data-icon('amazon-sign','\f340');
	@include data-icon('amazon','\f341');
	@include data-icon('android','\f342');
	@include data-icon('apple-itunes','\f343');
	@include data-icon('apple','\f344');
	@include data-icon('aws','\f345');
	@include data-icon('bing-sign','\f346');
	@include data-icon('bing','\f347');
	@include data-icon('duck-duck-go','\f348');
	@include data-icon('google-sign','\f349');
	@include data-icon('google','\f34a');
	@include data-icon('sparrow-sign','\f34b');
	@include data-icon('sparrow','\f34c');
	@include data-icon('windows','\f34d');
	@include data-icon('windows8','\f34e');
	@include data-icon('yahoo','\f34f');
	// ext.
	@include data-icon('accessibility-sign','\f200');
	@include data-icon('bike-sign','\f201');
	@include data-icon('bus-sign','\f202');
	@include data-icon('car-sign','\f203');
	@include data-icon('taxi-sign','\f204');
	@include data-icon('truck-sign','\f205');
	@include data-icon('adobe-pdf','\f206');
	@include data-icon('ms-excel','\f207');
	@include data-icon('ms-ppt','\f208');
	@include data-icon('ms-word','\f209');
	@include data-icon('zip-file','\f20a');
	@include data-icon('css3','\f20b');
	@include data-icon('html5','\f20c');
	@include data-icon('layers','\f20d');
	@include data-icon('map','\f20e');
	@include data-icon('chrome','\f210');
	@include data-icon('firefox','\f211');
	@include data-icon('ie','\f212');
	@include data-icon('opera','\f213');
	@include data-icon('safari','\f214');
	@include data-icon('rss-sign','\f215');


// icon-before

	// social
	@include icon-before('dropbox','\f300');
	@include icon-before('drupal','\f301');
	@include icon-before('git-fork','\f302');
	@include icon-before('instagram','\f303');
	@include icon-before('share-this-sign','\f304');
	@include icon-before('share-this','\f305');
	@include icon-before('foursquare-sign','\f306');
	@include icon-before('foursquare','\f307');
	@include icon-before('hacker-news','\f308');
	@include icon-before('skype','\f309');
	@include icon-before('spotify','\f30a');
	@include icon-before('soundcloud','\f30b');
	@include icon-before('paypal','\f30c');
	@include icon-before('youtube-sign','\f30d');
	@include icon-before('youtube','\f30e');
	@include icon-before('reddit','\f30f');
	@include icon-before('blogger-sign','\f310');
	@include icon-before('blogger','\f311');
	@include icon-before('dribbble-sign','\f312');
	@include icon-before('dribbble','\f313');
	@include icon-before('evernote-sign','\f314');
	@include icon-before('evernote','\f315');
	@include icon-before('flickr-sign','\f316');
	@include icon-before('flickr','\f317');
	@include icon-before('forrst-sign','\f318');
	@include icon-before('forrst','\f319');
	@include icon-before('delicious','\f31a');
	@include icon-before('lastfm-sign','\f31b');
	@include icon-before('lastfm','\f31c');
	@include icon-before('picasa-sign','\f31d');
	@include icon-before('picasa','\f31e');
	@include icon-before('stack-overflow','\f320');
	@include icon-before('tumblr-sign','\f321');
	@include icon-before('tumblr','\f322');
	@include icon-before('vimeo-sign','\f323');
	@include icon-before('vimeo','\f324');
	@include icon-before('wordpress-sign','\f325');
	@include icon-before('wordpress','\f326');
	@include icon-before('yelp-sign','\f327');
	@include icon-before('yelp','\f328');
	// corp.
	@include icon-before('amazon-sign','\f340');
	@include icon-before('amazon','\f341');
	@include icon-before('android','\f342');
	@include icon-before('apple-itunes','\f343');
	@include icon-before('apple','\f344');
	@include icon-before('aws','\f345');
	@include icon-before('bing-sign','\f346');
	@include icon-before('bing','\f347');
	@include icon-before('duck-duck-go','\f348');
	@include icon-before('google-sign','\f349');
	@include icon-before('google','\f34a');
	@include icon-before('sparrow-sign','\f34b');
	@include icon-before('sparrow','\f34c');
	@include icon-before('windows','\f34d');
	@include icon-before('windows8','\f34e');
	@include icon-before('yahoo','\f34f');
	// ext.
	@include icon-before('accessibility-sign','\f200');
	@include icon-before('bike-sign','\f201');
	@include icon-before('bus-sign','\f202');
	@include icon-before('car-sign','\f203');
	@include icon-before('taxi-sign','\f204');
	@include icon-before('truck-sign','\f205');
	@include icon-before('adobe-pdf','\f206');
	@include icon-before('ms-excel','\f207');
	@include icon-before('ms-ppt','\f208');
	@include icon-before('ms-word','\f209');
	@include icon-before('zip-file','\f20a');
	@include icon-before('css3','\f20b');
	@include icon-before('html5','\f20c');
	@include icon-before('layers','\f20d');
	@include icon-before('map','\f20e');
	@include icon-before('chrome','\f210');
	@include icon-before('firefox','\f211');
	@include icon-before('ie','\f212');
	@include icon-before('opera','\f213');
	@include icon-before('safari','\f214');
	@include icon-before('rss-sign','\f215');
}


@mixin icon-icomoon() {
	@include data-icon('file-excel','\e001');
	@include data-icon('file-powerpoint','\e002');
	@include data-icon('file-zip','\e003');
	@include data-icon('file-xml','\e004');
	@include data-icon('file-css','\e005');
	@include data-icon('file-word','\e006');
	@include data-icon('file-pdf','\e007');
	@include data-icon('link-alt','\e000');


	@include icon-before('file-excel','\e001');
	@include icon-before('file-powerpoint','\e002');
	@include icon-before('file-zip','\e003');
	@include icon-before('file-xml','\e004');
	@include icon-before('file-css','\e005');
	@include icon-before('file-word','\e006');
	@include icon-before('file-pdf','\e007');
	@include icon-before('link-alt','\e000');
}