
///**
// * @mixin ribbon()
// */
$default-ribbon-color  : #7f9db9 !default;
$default-ribbon-width  : 350px !default;
$default-ribbon-height : 50px !default;
$default-ribbon-depth  : 15px !default;

@mixin ribbon(
  $color          : $default-ribbon-color,
  $width          : $default-ribbon-width,
  $height         : $default-ribbon-height,
  $depth          : $default-ribbon-depth,
  $triangle-color : false
) {
  @if not $triangle-color { $triangle-color : desaturate(darken($color, 6%), 15%); }
  background:$color;
  height:$height;
  left:-$depth;
  position:relative;
  width:$width + 2 * $depth;
  @include box-shadow;

  &:before, &:after {
    border-style:solid;
    border-width:$depth;
    content:"";
    height:0;
    position:absolute;
    top:$height - $depth;
    width:0;
    z-index:-1;
  }
  &:before { border-color:transparent $triangle-color transparent transparent; left:-$depth; }
  &:after { border-color:transparent transparent transparent $triangle-color; right:-$depth; }
}

@mixin ribbon-top(
  $color          : $default-ribbon-color,
  $width          : $default-ribbon-width,
  $height         : $default-ribbon-height,
  $depth          : $default-ribbon-depth,
  $triangle-color : false
) {
  @include ribbon($color, $width, $height, $depth, $triangle-color);
  &:before { top: - $depth; }
  &:after { top: 1 - $depth; }
}


