//------------------------------------------------------
//
//    Thumbnail lists: .detail-menu, .thumb-menu
//
//------------------------------------------------------

$thumbnail-list-img-border-radius:        0           !default;

$thumbnail-list-img-box-shadow:           none        !default;
$thumbnail-list-heading-box-shadow:       none        !default;
$thumbnail-list-heading-text-shadow:      none        !default;
$thumbnail-list-p-text-shadow:            none        !default;

$thumbnail-list-p-hover:                  $font-color !default;



/* TODO per list options
.thumbnail-list.thumb-menu {
  img {
    height:144px;
    width:108px;
  }
  li a {
    height:160px\9; // LTE IE8 HACK
  }
  li:nth-child(4n+1) {
    clear:both;
    margin-left:0;
  }
}
*/


.thumbnail-list {
  li {
    list-style:none;
    position:relative;
    a {
      > * {
        color:$font-color;
        text-shadow:$text-shadow;
      }
      img {
        border:3px solid #c2ac97;
        @include border-radius($thumbnail-list-img-border-radius);
        @include box-shadow(rgba(0,0,0,.4),0,1px,1px);
        position:absolute;
      }
      p, p:hover {
        @include box-shadow(none);
        color:$thumbnail-list-p-hover;
        text-shadow:$thumbnail-list-p-text-shadow;
      }
      .thumbnail-item-info > *:hover { text-decoration:none; }
    }
    &:hover {
      a > * { color:$link-hover-color; }
      a img { border-color:$link-hover-color; }
    }
  }
}

/* .thumb-menu */
.thumbnail-list.thumb-menu {
  padding:0;
  li {
    float:left;
    a {
      display:inline-block;
      margin:0 0 $baseline $grid-gutter;
      text-align:center;
      text-decoration:none;
    }
  }
  img { position:relative; }

/*
  .thumbnail-item-info, .index { display:none; }
  .thumbnail-item-info {
    .border-radius;
    background:@white;
    border:@gutter/2 solid @grass;
    height:250px;
    margin:-199px 0 0 152px;
    overflow:auto;
    position:absolute;
    padding:@gutter;
    text-align:left;
    width:200px;
    z-index:20;
    .title {
      color:@brown;
      font-size:13px;
    }
    .description {
      font-size:11px;
    }
  }
  li {
    .btn-thumbnail-tool-tip {
      .btn-thumbnail-list-sprite(transparent, left, -24px);
      bottom:-34px;
      display:none;
      height:48px;
      position:absolute;
      right:-28px;
      width:60px;
      z-index:3;
    }
    .btn-thumbnail-close {
      .btn-thumbnail-list-sprite(transparent, right, 0);
      height:12px;
      left:163px;
      position:absolute;
      top:-28px;
      width:12px;
      z-index:21;
        &:hover {
          background-position:right -12px;
        }
    }

    &:nth-child(4n+3),
    &:nth-child(4n+4) {
      .btn-thumbnail-tool-tip {
        background-position:left -72px;
        right:14px;
        width:158px;
      }
      .btn-thumbnail-close {
        left:-265px;
      }
      .thumbnail-item-info {
        margin:-199px 0 0 -276px;
      }
    }
  }
  */
}


/* .icon-menu
.thumbnail-list.icon-menu {
  padding:0;

  li {
    float:left;
    height:120px\9; // LTE IE8 HACK
    margin:0 0 $grid-gutter $baseline;
    width:$grid-column * 3.5 - $grid-gutter;
      &:nth-child(2n+1) {
        clear:both;
        margin-left:0
      }

    h3 {
      padding:0;
      clear:none;
    }
  }
  a .thumbnail-item-info {
    //margin-left:@columnWidth;
    margin-left:61px;
    p, p:hover { color:@pColor; }
  }

}
 */

/* .indexed-menu
.thumbnail-list.indexed-menu {
  padding:0;

  li {
    .h3;
    border-bottom:1px dotted @whiteDARK;
    color:@brown;
    float:left;
    font-size:13px;
    list-style:none;
    min-height:144px;
    margin:0 0 @gutter @gutter*2;
    padding:0 0 @gutter;
    width:512px; // FOR IE7
    &:last-child { border:none; }
  }
  img {
    height:128px;
    width:96px;
  }
  .thumbnail-item-info {
    margin-left:@columnWidth*2 - @gutter*2;
    float:right;
  }
  .title, .index {
    .h3;
    color:@brown;
    clear:none;
    font-size:13px;
    padding:0;
    span {
      color:@sky;
    }
  }
  .description {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:18px;
    padding:0;
  }
  .index {
    right:600px;
    margin:0;
    position:absolute;
    text-align:right;
  }
}
 */

/* .detail-menu
.thumbnail-list.detail-menu {
  padding:0;

  li {
    float:left;
    height:120px\9; // LTE IE8 HACK
    margin:0 0 @gutter @gutter;
  }
  img {
    height:60px;
    position:absolute;
    width:80px;
  }
  .thumbnail-item-info {
    margin-left:@columnWidth;
    padding:0;
  }
  .index { display:none; }
}
 */

/* .btn-thumbnail-zoom .btn-thumbnail-info
.btn-thumbnail-zoom,
.btn-thumbnail-info {
  .btn-thumbnail-list-sprite;
  .border-radius(3px);
  display:none;
  height:24px;
  position:absolute;
  width:24px;
  z-index:2;
    &:hover { background-color:@gold; }

  span { display:none; }
}
.btn-thumbnail-zoom { background-position:0 0; }
.btn-thumbnail-info { background-position:-24px 0; }

.thumbnail-list.thumb-menu {
  .btn-thumbnail-zoom,
  .btn-thumbnail-info { right:10px; display:block; }
  .btn-thumbnail-zoom { top:10px; }
  .btn-thumbnail-info { bottom:10px; }
}
 */




.one-column, .thumbnail-list.one-column       { li { & > * { clear:both; margin-left:0; } }}
.two-column, .thumbnail-list.two-column       { li { &:nth-child(2n+1)  > * { clear:both; margin-left:0; } }}
.three-column, .thumbnail-list.three-column   { li { &:nth-child(3n+1)  > * { clear:both; margin-left:0; } }}
//.four-column, .thumbnail-list.four-column     { li { &:nth-child(4n+1)  > * { clear:both; margin-left:0; } }}
//.five-column, .thumbnail-list.five-column     { li { &:nth-child(5n+1)  > * { clear:both; margin-left:0; } }}
//.six-column, .thumbnail-list.six-column       { li { &:nth-child(6n+1)  > * { clear:both; margin-left:0; } }}
//.seven-column, .thumbnail-list.seven-column   { li { &:nth-child(7n+1)  > * { clear:both; margin-left:0; } }}
.eight-column, .thumbnail-list.eight-column   { li { &:nth-child(8n+1)  > * { clear:both; margin-left:0; } }}
//.nine-column, .thumbnail-list.nine-column     { li { &:nth-child(9n+1)  > * { clear:both; margin-left:0; } }}
//.ten-column, .thumbnail-list.ten-column       { li { &:nth-child(10n+1) > * { clear:both; margin-left:0; } }}
//.eleven-column, .thumbnail-list.eleven-column { li { &:nth-child(11n+1) > * { clear:both; margin-left:0; } }}
//.twelve-column, .thumbnail-list.twelve-column { li { &:nth-child(12n+1) > * { clear:both; margin-left:0; } }}


