// This file must be imported before loading html5-boilerplate
@import "compass";

$root   : '/';
$assets : '/assets';
$images : '/assets/img';
$FONTS_PATH: '/assets/fonts';


//------------------------------------------------------
//
//    Color Scheme
//
//------------------------------------------------------

$white:                           #f6f6f6;  // White/off-white
$black:                           #342121;  // Black/off-black

$color1:                          #f38b00;  // Payette Orange
$color2:                          #513628;  // Payette Brown
$color3:                          #eeeeeb;  // Light Gray
$color4:                          #dadbd3;  // Mid Gray
$color5:                          #b1b1ac;  // Dark Gray
$color6:                          #64b1bc;  // North Fork Blue
$color7:                          #342121;  // Dark Brown
$color8:                          #779a0b;  // Rodeo Green
$color9:                          #c30e2e;  // Slaughterhouse Red

$background-color:                $color3;


// jQuery Mobile: Theme styles              // DEFAULTS
$background-color-a:              #111;     // #111 Black
$font-color-bar-a:                #fff;
$background-color-b:              $color1;  // #5e87b0 Blue
$background-color-e:              $color2;  // #fadb4e Yellow


//------------------------------------------------------
//
//    Type
//
//------------------------------------------------------

$base-font-size:                  14px;// IMPORTANT. Change, but don't delete this. Compass sets this as 16px.

$link-color:                      $color1;
$link-hover-color:                darken($color1, 5%);
$link-active-color:               $link-color;
$link-visited-color:              $link-color;

$base-font-family:                Georgia, serif;
$font-color:                      $color2;

$primary-heading-color:           $color1;
$primary-heading-text-transform:  uppercase;

$secondary-heading-color:         $color5;

$selected-font-color:             $white;
$selected-background-color:       $color1;

$h1-font-size:                    72px;
$h2-font-size:                    36px;
$h3-font-size:                    24px;
$h4-font-size:                    18px;
$h5-font-size:                    16px;
$h6-font-size:                    13px;
$th-font-size:                    13px;
$dt-font-size:                    13px;

$dt-font-family:                  Arial, sans-serif;
$dt-font-style:                   normal;

$h1-font-size-mobile:             48px;
$h2-font-size-mobile:             $h2-font-size;
$h3-font-size-mobile:             $h3-font-size;
$h4-font-size-mobile:             $h4-font-size;
$h5-font-size-mobile:             $h5-font-size;
$h6-font-size-mobile:             $h6-font-size;

$iconFontName:                    'Payette-Icons';
$iconFontPath:                    '#{$FONTS_PATH}/Payette-Icons';


//------------------------------------------------------
//
//    Forms
//
//------------------------------------------------------

$button-background-image:         url(#{$images}/button-bg.png);
$button-background-color:         #fff;
$button-radius:                   0px;
$button-border-width:             0px;
$button-border-style:             solid;

//------------------------------------------------------
//
//    Fancy Form Elements
//
//------------------------------------------------------

$radio-width:                     12px;
$checkbox-background-color:       $color4;
$checkbox-border-color:           darken($color4, 10%);
$checkbox-boxshadow-color:        darken($color4, 10%);
$checkbox-background-hover-color: lighten($color4, 5%);
$checkbox-focus-border-color:     $color1;

//------------------------------------------------------
//
//    CSS3
//
//------------------------------------------------------

// box shadow
$default-box-shadow-color:        rgba(0,0,0,.3);
$default-box-shadow-h-offset:     0px;
$default-box-shadow-v-offset:     2px;
$default-box-shadow-blur:         0px;

// text shadow
$default-text-shadow-color:       rgba(0,0,0,.2);
$default-text-shadow-h-offset:    0px;
$default-text-shadow-v-offset:    2px;
$default-text-shadow-blur:        0px;


//------------------------------------------------------
//
//    Grid/Layout
//
//------------------------------------------------------

$layout-padding-l-r: 10px;

// $grid-page-width: 1400px; // 960px default
$grid-columns: 16; // 24 default

//------------------------------------------------------
//
//    Colorbox Defaults
//
//------------------------------------------------------

//$colorbox-use-images:              true;












