// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

@import "compass/css3/font-face";

$fonts  : '/assets/fonts/';


@font-face {
	font-family: 'Payette-Icons';
	src:url('#{$fonts}Payette-Icons.eot');
	src:url('#{$fonts}Payette-Icons.eot?#iefix') format('embedded-opentype'),
		url('#{$fonts}Payette-Icons.woff') format('woff'),
		url('#{$fonts}Payette-Icons.ttf') format('truetype'),
		url('#{$fonts}Payette-Icons.svg#Payette') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'franchiseregular';
    src: url('#{$fonts}franchise-bold-webfont.eot');
    src: url('#{$fonts}franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}franchise-bold-webfont.woff') format('woff'),
         url('#{$fonts}franchise-bold-webfont.ttf') format('truetype'),
         url('#{$fonts}franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova';
    src: url('#{$fonts}proximanovacond-regular-webfont.eot');
    src: url('#{$fonts}proximanovacond-regular-webfont?#iefix') format('embedded-opentype'),
         url('#{$fonts}proximanovacond-regular-webfont.woff') format('woff'),
         url('#{$fonts}proximanovacond-regular-webfont.ttf') format('truetype'),
         url('#{$fonts}proximanovacond-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas';
    src: url('#{$fonts}BebasNeue-webfont.eot');
    src: url('#{$fonts}BebasNeue-webfont?#iefix') format('embedded-opentype'),
         url('#{$fonts}BebasNeue-webfont.woff') format('woff'),
         url('#{$fonts}BebasNeue-webfont.ttf') format('truetype'),
         url('#{$fonts}BebasNeue-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Regular */
@font-face {
		font-family: 'League Gothic';
	 	src: url('#{$fonts}leaguegothic-italic-webfont.eot');
   	src: url('#{$fonts}leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts}leaguegothic-italic-webfont.woff') format('woff'),
        url('#{$fonts}leaguegothic-italic-webfont.ttf') format('truetype'),
        url('#{$fonts}leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}
