// Breakpoints
$breakpoint-mobile-portrait:    320px    !default;
$breakpoint-mobile-landscape:   480px    !default;
$breakpoint-tablet-portrait:    768px    !default;
$breakpoint-tablet-landscape:   1024px   !default;
$breakpoint-large-desktop:      1224px   !default;
$breakpoint-giant-desktop:      1824px   !default;


//------------------------------------------------------
//
//    Mobile (portrait and landscape) only
//    Width <= 480px
//
//------------------------------------------------------
@media only screen
		and (max-width : $breakpoint-tablet-portrait) {
		@include header-mobile;
		@include colorbox-mobile;
		//@include footer-mobile;
		@include home-mobile;
		@include about-mobile;
		@include adventure-log-mobile;
		@include events-mobile;
		@include global-subpage-mobile;
}


//------------------------------------------------------
//
//    Tablet (portrait) and larger
//    768px <= Width
//
//------------------------------------------------------
@media only screen
		and (min-width : $breakpoint-tablet-portrait) {
		@include global-subpage-desktop;
		@include header-tablet;
		@include main-desktop;
    @include home-desktop;
		@include about-tablet-up;
		@include story-tablet-up;
		@include outlaws-tablet-up;
		@include tasting-tablet-up;
		@include events-tablet-up;
    @include payette-forward-tablet-portrait-larger;
		@include beers-tablet;
		@include adventure-log-desktop;
		@include forward-form-desktop;
		@include age-gate-desktop;
    @include error-tablet-portrait-larger;
}


//------------------------------------------------------
//
//    Tablet (landscape), Desktop, and larger
//    1024px <= Width
//
//------------------------------------------------------
@media only screen
		and (min-width : $breakpoint-tablet-landscape) {
		@include header-desktop;
		@include beers-desktop;
    @include payette-forward-desktop;
		@include footer-desktop;
}


//------------------------------------------------------
//
//    Retina display
//
//------------------------------------------------------
@media	only screen and (-webkit-min-device-pixel-ratio : 2),
		only screen and (min-device-pixel-ratio : 2) {
		@include header-retina;
}


//------------------------------------------------------
//
//    Print styles
//    Inlined to avoid required HTTP connection:h5bp.com/r
//
//------------------------------------------------------
@media print {
	* { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } /* Black prints faster:h5bp.com/s */
	a, a:visited { text-decoration:underline; }
	a[href]:after { content:" (" attr(href) ")"; }
	abbr[title]:after { content:" (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }  ///* Don't show links for images, or javascript/internal links */
	pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
	thead { display:table-header-group; } ///* h5bp.com/t */
	tr, img { page-break-inside:avoid; }
	img { max-width:100% !important; }
	@page { margin:0.5cm; }
	p, h2, h3 { orphans:3; widows:3; }
	h2, h3 { page-break-after:avoid; }
}
